.kanban-page {
  display: flex;
  height: 100vh;
  background-color: #f1f3f6;
}

.kanban-main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.kanban-container {
  display: flex;
  justify-content: space-around;
  padding: 40px 20px;
  gap: 30px;
  height: 70%;
  overflow-x: auto;
}

.kanban-column {
  background-color: #ffffff;
  padding: 80px 80px;
  border-radius: 20px;
  width: 400px;
  min-width: 350px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.kanban-column h2 {
  font-size: 24px;
  margin-bottom: 25px;
  text-align: center;
  color: #1f2b5b;
  font-weight: 600;
  letter-spacing: 1px;
}

/* Add Task */
.add-task {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.add-task input {
  padding: 30px 20px;
  font-size: 22px;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  margin-bottom: 12px;
  background-color: #f9fbfd;
  outline: none;
  transition: 0.2s;
}

.add-task input:focus {
  border-color: #3a5dff;
}

.add-task button {
  padding: 30px;
  font-size: 22px;
  background-color: #3a5dff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.add-task button:hover {
  background-color: #2743c3;
}

/* Task Card */
.kanban-task {
  background-color: #ecf3fc;
  padding: 20px 20px;
  margin-bottom: 16px;
  border-radius: 10px;
  border-left: 5px solid #3a5dff;
  font-size: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.2s ease;
}

.kanban-task:hover {
  transform: scale(1.02);
  background-color: #e5effc;
}

.kanban-task span {
  flex: 1;
  font-weight: 500;
  color: #1f2b5b;
}

.remove-btn {
  background-color: #ff4d4f;
  border: none;
  color: white;
  padding: 20px 20px;
  border-radius: 6px;
  font-size: 22px;
  cursor: pointer;
  transition: 0.2s;
  margin-left: 10px;
}

.remove-btn:hover {
  background-color: #c62828;
}
